.container-await-room{
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-content: center;
}

.container-await-room{
    width: 50%;
    margin: auto;
}

.turn-available{
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 3px 3px 3px #dee2e6;
    padding: 10px;
}

.turn-available:hover{
    box-shadow: 5px 5px 5px #dee2e6;
}

.turn-await{
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 3px 3px 3px #dee2e6;
    padding: 10px;
}

.turn-await:hover{
    box-shadow: 5px 5px 5px #dee2e6;
}

.flex-turn-available-await{
    display: flex;
    flex-direction: row;
    gap: 20px;
    place-content: center;
}

.flex-turn-onCall-await{
    display: flex;
    flex-direction: row;
    gap: 20px;
    place-content: center;
}