.container {
    display: flex;
    place-content: center;
    padding: 10px;
}

.flex-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box-item{
    background-color: #ffffff;
    color: #2b2d42;
    border-radius: 5px;
    border: 2px solid #f8f9fa;
    box-shadow: 3px 3px 3px #e9ecef;
}

.box-item{
    width: 12rem;
    padding: 20px;
}

.btn-ask{
    background-color: #0077b6;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #0077b6;
}

.btn-ask:hover{
    box-shadow: 2px 2px 2px #0096c7;
}