.container{
    display: flex;
    place-content: center;
}

.flex-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.box-item{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #f8f9fa;
    box-shadow: 3px 3px 3px #e9ecef;
    padding: 20px;
    font-weight: 600;
}

.box-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.box-item:hover{
    box-shadow: 5px 5px 5px #e9ecef;
}

.letter-turn{
    height: 15px;
}

.item-button{
    display: flex;
    flex-direction: column;
}

.btn-ask{
    background-color: #90e0ef;
    color: #212529;
    border-radius: 5px;
    border: none;
    padding: 4px;
    cursor: pointer;
}

.btn-ask{
    text-decoration: none;
    height: 20px;
}