.box-card-locker{
    width: 20rem;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 3px 3px 3px #dee2e6;
    padding: 20px;
}

.box-card-locker{
    margin: auto;
}

.box-card-locker:hover{
    box-shadow: 5px 5px 5px #dee2e6;
}

.flex-form-locker{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}

.flex-item-locker{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
}

.text-campo{
    background-color: #faf9f9;
    border-radius: 5px;
    border: 2px solid #f8f9fa;
    box-shadow: 2px 2px 2px #e9ecef;
    text-align: center;
    padding: 7px;
}

.text-campo:hover {
    box-shadow: 5px 5px 5px #e9ecef;
}

.select-box{
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px;
}

.select-box:hover {
    box-shadow: 5px 5px 5px #dee2e6;
}

.btn-locker{
    background-color: #0081a7;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 7px;
}