.card-my-turns{
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 3px 3px 3px #dee2e6;
    padding: 10px;
}

.card-my-turns:hover{
    box-shadow: 5px 5px 5px #dee2e6;
}

.flex-my-turns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sub-card-my-turns{
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 2px 2px 2px #dee2e6;
    padding: 5px;
}

.sub-card-my-turns:hover{
    box-shadow: 5px 5px 5px #dee2e6;
}

.item-my-turns{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.header-my-turns{
    font-size: 25px;
}