.container{
    display: flex;
    place-content: center;
}

.box-sign{
    width: 30%;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 3px 3px 3px #dee2e6;
    padding: 20px;
}

.flex-sign{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sign-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-sign-in{
    width: 40%;
    background-color: #00b4d8;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 7px;
}

.btn-sign-in{
    place-content: center;
    margin: auto;
}

.text-link{
    text-decoration: none;
    color: #343a40;
}