.container{
    display: flex;
    place-content: center;
    padding: 20px;
}

.box-turn{
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 3px 3px 3px #dee2e6;
}

.flex-turn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-turn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-template-rows: minmax(50px, auto);
}

.grid-turn{
    padding: 10px;
    margin: 0;
}

.grid-item{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.grid-item{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #f8f9fa;
    box-shadow: 3px 3px 3px #e9ecef;
    padding: 10px;
}

.grid-item:hover{
    box-shadow: 5px 5px 5px #e9ecef;
}

.type-turn{
    font-weight: 600;
    height: 25px;
    margin: 0;
    padding: 5px;
}

.number-turn{
    background-color: #80ed99;
    border-radius: 5px;
    font-weight: 600;
    padding: 5px;
    height: 17px;
}